@media screen and (max-width: 920px) {

  .our-services div > .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

@media screen and (max-width: 768px) {

  [aria-controls="menuDropdown"] {
    display: block;
    border: 1px solid transparent;
    background-color: transparent;
    margin-right: var(--15px);
    font-size: var(--20px);
    cursor: pointer;
  }

  /* This makes it so you can click the button through the <i> element. */
  .btn-menu i { 
    pointer-events: none;
    cursor: pointer;
  }

  [aria-expanded="false"] ~ div.menu-items {
    display: none;
  }

  [aria-expanded="true"] ~ div.menu-items {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-evenly;
    top: var(--100px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  [aria-expanded="true"] ~ div.menu-items a {
    color: var(--white);
  }

  footer .footer-col:nth-child(3) {
    grid-column: 1 / 3;
  }

  div.testimonial-card.grid-container {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-rows: 150px 1fr;
    padding-top: 0;
    align-items: center;
  }
  
  h3 { text-align: center; }

  .social-media-boosting .grid-container {
    max-width: 600px;
    gap: 50px 25px;
  }

}

@media screen and (max-width: 500px) {
  body { text-align: justify; }

  .our-solution { text-align: center; }

  .our-solution p { text-align: justify; }
}